.modalContainer4{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,0.3);
display:flex;
justify-content:center;
align-items:center;
}

.modalBox4{
width:650px;
background:white;
border-radius:10px;
padding:30px;
box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

.title4{
font-size:22px;
margin-bottom:20px;
}

.tabs4{
display:flex;
gap:20px;
margin-bottom:25px;
border-bottom:1px solid #eee;
padding-bottom:10px;
}

.activeTab4{
color:#6ab04c;
font-weight:600;
cursor:pointer;
}

.tab4{
color:#555;
cursor:pointer;
}

.label4{
display:block;
margin-top:15px;
margin-bottom:6px;
font-weight:500;
}

.input4{
width:100%;
padding:10px;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;
}

.editor4{
margin-top:10px;
margin-bottom:15px;
}

.submitBtn4{
margin-top:20px;
background:#6ab04c;
border:none;
padding:12px 20px;
color:white;
border-radius:8px;
cursor:pointer;
float:right;
}